.cnt{
    width: 80vw;
    height: 100vh;
    position: absolute;
    z-index: 40;
    top: 0;
    right: -80vw;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--color-body-light);
    transition: transform 0.3s ease;
}

.cnt--show{
    transform: translate(-100%,0%);
}

.cnt__cont-tittle{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.cont-tittle__tittlec{
    margin-left: 1.5vw;
}

.cont-tittle__tittlec--origin{
    color: var(--color-resalt-origin);
}

.cont-tittle__tittlec--second{
    color: var(--color-resalt-second);
}

.cont-tittle__tittlec--third{
    color: var(--color-resalt-third);
}

.cont-tittle__tittlec--fourth{
    color: var(--color-resalt-fourth);
}

.cnt__cont-cnt{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 31.33% 31.33% 31.33%;
    grid-template-rows: 42% 42%;
    justify-content: space-around;
    grid-gap: 12% 2%;
    padding: 5% 4%;
    overflow: hidden;
}

.cont-cnt__cntitem{
    border-radius: 15px;
    background-color: var(--color-menu-light);
    box-shadow: 6px 6px 14px -11px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 6px 14px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 14px -11px rgba(0,0,0,0.75);
    overflow: hidden;
}

.cntitem__cont-ico{
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-ico__circle{
    width: 95px;
    height: 95px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cntitem__cont-link{
    width: 100%;
    height: 35%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}