.home{
    width: 80vw;
    height: 100vh;
    position: absolute;
    z-index: 40;
    top: 0;
    right: -80vw;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--color-body-light);
    transition: transform 0.3s ease;
}

.home--show{
    transform: translate(-100%,0%);
}