/* Quitar margen y padding predeterminado */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Declaracion de variables css */
:root{
    --border: 1px solid white; /*Bordes guia*/
    --border2: 1px solid black; /*Bordes guia*/
    --color-body-dark: #0e0e0e;
    --color-body-light: #f0f0fc;
    --color-menu-light: #ffffff;
    --color-menu-dark: #222222;
    --color-letra-light: #000000;
    --color-letra-dark: #ffffff;
    --color-letra2-light: #535353;
    --color-resalt-origin: #941544;
    --color-resalt-second: #2626a7;
    --color-resalt-third: #e9e035;
    --color-resalt-fourth: #44c525;
}

body{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    transition: background-color 0.5s ease;
}

.body--light{
    background-color: var(--color-body-light);
}

.body--dark{
    background-color: var(--color-body-dark);
}