.menu{
    width: 20vw;
    height: 100vh;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    transition: transform 0.45s ease,
                background-color 0.45s ease;
}

.menu--light{
    background-color: var(--color-menu-light);
}

.menu--dark{
    background-color: var(--color-menu-dark);
}

.menu__cont-logo{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.cont-logo__logo{
    font-size: 3vw;
    font-weight: bold;
    margin-left: 10%;
    transition: color 0.5s ease;
}

.cont-logo__logo--light{
    color: var(--color-letra-light);
}

.cont-logo__logo--dark{
    color: var(--color-letra-dark);
}

.logo__resalt{
    transition: color 0.45s ease;
}

.logo__resalt--origin{
    color: var(--color-resalt-origin);
}

.logo__resalt--second{
    color: var(--color-resalt-second);
}

.logo__resalt--third{
    color: var(--color-resalt-third);
}

.logo__resalt--fourth{
    color: var(--color-resalt-fourth);
}

.menu__cont-nav{
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.cont-nav__link{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
    overflow: hidden;
}

.link__ico{
    width: 9%;
    margin-right: 5%;
}

.link__text{
    cursor: pointer;
    transition: color 0.45s ease;
}

.link__text--origin:hover{
    color: var(--color-resalt-origin);
}

.link__text--second:hover{
    color: var(--color-resalt-second);
}

.link__text--third:hover{
    color: var(--color-resalt-third);
}

.link__text--fourth:hover{
    color: var(--color-resalt-fourth);
}

.link__text--light{
    color: var(--color-letra-light);
}

.link__text--dark{
    color: var(--color-letra-dark);
}

.menu__cont-copy{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.cont-copy__text{
    font-size: 0.75vw;
    margin-left: 10%;
    transition: color 0.45s ease;
}

.cont-copy__text--light{
    color: var(--color-letra2-light);
}

/*-------------------------------------Responsive--------------------------------------------*/

/*Celulares*/
@media only screen and (min-width: 250px) and (max-width: 630px){

    .menu{
        width: 60vw;
        position: absolute;
        z-index: 50;
        top: 0;
        left: 0;
        transform: translate(-100%,0);
    }

    .menu--show{
        transform: translate(0%,0);
    }

    .menu__cont-logo{
        height: 15%;
    }
    
    .cont-logo__logo{
        font-size: 7vw;
    }

    .menu__cont-nav{
        height: 65%;
    }

    .link__ico{
        width: 11%;
        margin-right: 7%;
    }

    .cont-copy__text{
        font-size: 2.25vw;
        margin-left: 10%;
    }

    .menu-control{
        width: 9.5vw;
        height: 8.5vw;
        position: absolute;
        z-index: 51;
        top: 5.2%;
        left: 6%;
        border: 1px solid rgb(173, 173, 173);
        border-radius: 3px;
        background-color: var(--color-menu-light);
        overflow: hidden;
        transition: transform 0.3s ease;
    }

    .menu-control--active{
        transform: translate(40vw,0);
    }

    .menu-control__bar{
        width: 70%;
        height: 13.33%;
        background-color: var(--color-resalt-origin);
    }

    #bar1{
        margin: 15% 0% 0% 15%;
    }

    #bar2{
        margin: 10% 0% 0% 15%;
    }

    #bar3{
        margin: 10% 0% 15% 15%;
    }

}