.menu{
    width: 20vw;
    height: 100vh;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
}

.menu--light{
    background-color: var(--color-fondo-light);
    border: var(--border2);
}

.menu__cont-logo{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    border: var(--border2);
}

.cont-logo__logo{
    font-size: 3vw;
    font-weight: bold;
    margin-left: 10%;
}

.cont-logo__logo--light{
    color: var(--color-letra-light);
}

.logo__resalt--light{
    color: var(--color-resalt-origin);
}

.menu__cont-nav{
    width: 100%;
    height: 60%;
    overflow: hidden;
    border: var(--border2);
}

.cont-nav__link{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
    overflow: hidden;
    border: var(--border2);
}

.link__ico{
    width: 9%;
    margin-right: 5%;
}

.link__text--light{
    color: var(--color-letra-light);
}

.menu__cont-copy{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    border: var(--border2);
}

.cont-copy__text{
    font-size: 0.75vw;
    margin-left: 10%;
}

.cont-copy__text--light{
    color: var(--color-letra2-light);
}